
<ion-app>
    <ion-split-pane contentId="main-content">
        <ion-menu contentId="main-content" type="overlay">
            <ion-content>

                <div class="menu-header-bg"></div>
                <div class="header-content">
                    <img src="../assets/babs.jpg" alt="">
                    <ion-label>
                        <h2>Babacar Sy</h2>
                        <p>khalé bu réw</p>
                    </ion-label>
                </div>

                <ion-list class="menu-items" id="inbox-list">
                    <ion-menu-toggle auto-hide="false">
                        <ng-container *ngFor="let p of appPages; let i = index">
                        <ion-item [ngClass]="{ 'active': activeItem === p.title }" routerDirection="root" (click)="getPage(p.title)" [routerLink]="[p.url]" lines="none"
                            detail="false" routerLinkActive="selected">
                            <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'"
                                [md]="p.icon + '-sharp'"></ion-icon>
                            <ion-label>{{ p.title }}</ion-label>
                        </ion-item>
                        </ng-container>
                        <ion-item (click)="logout()" routerLink="/login" routerDirection="root" lines="none">
                            <ion-icon name="exit-outline"></ion-icon>Sign out
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>

            </ion-content>
        </ion-menu>
        <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
</ion-app>