<ng-container *ngIf="display">
  <div class="mt-2 flex justify-center items-center">
    <div>
      <h1 class="bg-[#57b6f5] w-[70%] ml-10 text-center text-white shadow-2xl rounded-2xl m-4 p-2 text-2xl">Cours planifiés</h1>

      <div class="flex flex-wrap w-full w-[90%] ml-2 mb-4">
        <div *ngFor="let cour of cours.reverse()"
          class="w-[45%] h-[20%] max-h-[20%] m-2 flex flex-col bg-white shadow-xl shadow-[#57b6f5] p-4 mb-4 rounded-lg">
            <p class="text-xl">{{ cour.prof_id.name }}</p>
            <h2 class="text-xl mt-6 text-center text-black border-2 rounded-2xl bg-[#57b6f5] font-bold mb-2">{{
              cour.module_id.libelle }}</h2>
            <div class="flex flex-row-reverse mt-4">
              <button (click)="getSessions(cour)" class="m-1 p-2 text-right shadow-2xl text-white rounded-2xl bg-[#57b6f5]">
                sessions
              </button>
            </div>
        </div>
      </div>
      
    </div>
  </div>
</ng-container>

<ng-container *ngIf="!display">

  <div class="flex flex-row gap-6">
    <div>
        <ion-icon class="rounded-2xl m-6 p-3 bg-[#57b6f5] shadow-2xl text-white" (click)="allCours()" name="arrow-back"></ion-icon>
    </div>
    <div class="mt-6 flex flex-col gap-4">
      <span class="text-md">Professeur: <span class="text-lg">{{prof}}</span></span>
      <span class="text-md">Module: <span class="text-lg">{{module}}</span></span>
    </div>
  </div>

  <div class="relative overflow-x-auto mt-10 shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead class="text-sm text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-2 py-1">
            Date
          </th>
          <th scope="col" class="px-2 py-1">
            Début
          </th>
          <th scope="col" class="px-2 py-1">
            Fin
          </th>
          <th scope="col" class="px-2 py-1">
            Salle
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let session of sessions"
          class="bg-white border-b text-sm dark:bg-gray-900 dark:border-gray-700">
          <th scope="row" class="px-2 py-1 font-medium text-gray-900 whitespace-nowrap dark:text-white">
            {{ separer(session.date_session) }}
          </th>
          <td class="px-2 py-1">
            {{ convertirEnHeures(session.started_at) }}
          </td>
          <td class="px-2 py-1">
            {{ convertirEnHeures(session.finished_at) }}
          </td>
          <td class="px-2 py-1">
            <ng-container *ngIf="session.salle == null">
              en ligne
            </ng-container>
            <ng-container *ngIf="session.salle">
              {{session.salle.nom}}
            </ng-container>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</ng-container>
