
<h1 class="ml-10 bg-[#57b6f5] w-[70%] text-center shadow-2xl shadow-[#57b6f5] text-white rounded-2xl">
  Session en cours
</h1>

<div class="flex gap-12 w-[90%] ml-6 mb-4 h-[20%] max-h-[20%] m-2 bg-white shadow-xl shadow-[#57b6f5] p-1 rounded-lg">
  <div class="flex flex-col gap-2">
    <div>
      <p class="text-xl">prof:</p><span>Lorem, ipsum.</span>
    </div>
    <div>
      <h2 class="text-xl">module:</h2><span>Lorem, ipsum.</span>
    </div>
  </div>
  <div class="flex flex-col gap-2">
    <div class="flex flex-col">
      <div class="text-xl">debut:</div><span>Lorem, ipsum.</span>
    </div>
    <div class="flex flex-col">
      <div class="text-xl">fin:</div><span>Lorem, ipsum.</span>
    </div>
    <div class="flex flex-col">
      <div class="text-xl">salle:</div><span>Lorem, ipsum.</span>
    </div>
  </div>
</div>

<h1 class="ml-10 bg-[#57b6f5] w-[70%] text-center shadow-2xl shadow-[#57b6f5] text-white rounded-2xl">
  Prochaine session
</h1>

<div class="flex gap-12 w-[90%] ml-6 mb-4 h-[20%] max-h-[20%] m-2 bg-white shadow-xl shadow-[#57b6f5] p-1 rounded-lg">
  <div class="flex flex-col gap-2">
    <div>
      <p class="text-xl">prof:</p><span>Lorem, ipsum.</span>
    </div>
    <div>
      <h2 class="text-xl">module:</h2><span>Lorem, ipsum.</span>
    </div>
  </div>
  <div class="flex flex-col gap-2">
    <div class="flex flex-col">
      <div class="text-xl">debut:</div><span>Lorem, ipsum.</span>
    </div>
    <div class="flex flex-col">
      <div class="text-xl">fin:</div><span>Lorem, ipsum.</span>
    </div>
    <div class="flex flex-col">
      <div class="text-xl">salle:</div><span>Lorem, ipsum.</span>
    </div>
  </div>
</div>
